.V-URGENT{
    animation:V-URGENTTEXT 1s infinite;
}
@keyframes V-URGENTTEXT{
    50%{     color: rgb(245, 226, 226);    }

    100%{   color: #f80606;    }
}

.V-IMPORTANT{
    color: #ff7c25;
}

.smalltable{
 font-size: 11px;
}

.card-icon {
    width: 80px;
    font-size:40px;
    border-radius: 5px;
    position: relative;
    float:-10;
    top:-20px;
    left:15px;
    color:#fff;
    padding: -5px;
    
}
.card-category{
    float:-10;
    padding: 15px;
    top:-50px;
    position: relative;
}

.card-details{
    padding: 20px;
    float:-10;
    top:-10px;
    position: relative;

}

.pn_panel {
    display: inline-block;
    overflow-y: scroll;
    max-height:400px;
   
}

@keyframes V-IMPORTANT{
    100%{   color: #ff7c25;    }
}

            .clickme {
                padding: 1px 6px 4px 5px;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}


@-webkit-keyframes glowing {
  0% { background-color:#00b300 ; -webkit-box-shadow: 0 0 1px #00b300; }
  50% { background-color: #00cc00; -webkit-box-shadow: 0 0 3px #00cc00; }
  100% { background-color: #00b300; -webkit-box-shadow: 0 0 1px #00b300; }
}

@-moz-keyframes glowing {
  0% { background-color: #00b300; -moz-box-shadow: 0 0 1px #00b300; }
  50% { background-color: #00cc00; -moz-box-shadow: 0 0 3px #00cc00; }
  100% { background-color: #00b300; -moz-box-shadow: 0 0 1px #00b300; }
}

@-o-keyframes glowing {
  0% { background-color: #00b300; box-shadow: 0 0 1px #00b300; }
  50% { background-color: #00cc00; box-shadow: 0 0 3px #00cc00; }
  100% { background-color: #00b300; box-shadow: 0 0 1px #00b300; }
}

@keyframes glowing {
  0% { background-color: #00b300; box-shadow: 0 0 1px #00b300; }
  50% { background-color: #00cc00; box-shadow: 0 0 3px #00cc00; }
  100% { background-color: #00b300; box-shadow: 0 0 1px #00b300; }
}

.files{
  position: relative;
  font-family: calibri;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
  
}

.input-small{
  height: 30px;
}